<div class="span6 offset4 text-center steamy-hottub">

	<h1 class="custom-font">Hi I'm Cecilia</h1>

	<h2>I'm having a blast learning how to code</h2>

	<%= link_to 'Launch my app', pics_path, :class => 'btn btn-warning btn-large' %>

</div>